# Ignore vscode folder 
.vscode/

# Ignore PDF data 
PDFs/

# Ignore env 
env/
*/*/.env
*/*/*/.env

# Ignore pycache 
*/*/__pycache__
*/*/*/__pycache__

# Ignore all possible node_modules
*/node_modules/

# Volume where it contains all of the persistent data 
PersistentData/

# Ignore data folder 
data/ 

# Ignore chroma-data
chroma-data/